/* importación fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;400&display=swap');


body {
    font-family: 'Libre Franklin', sans-serif;
}

#box-1 {
    height: 800px;
    background-image: url("../images/apple-pie.jpg");
    background-size: cover;
    color: #fafafa;
    display: flex;
    align-items: center;
    /* x-axis */
    justify-content: center;
    /* y-axis */
    margin-left: 50px;
    margin-right: 50px;
    /* com que encara no haviem fet el FLEX, això és el que hauriem de fer: background-position: center center;
    background-repeat: no-repeat; */
}

h1{
    text-align: center;
    font-size: 70px
}

.box-2 p{
    margin-left: auto;
    /* margin-right: auto;
    display: block; */
    text-align: center;
    /* padding: 30px 70px */
    font-size: larger;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
   /*  també es pot posar margin: 0 auto;, que vol dir 0 a dalt i abaix i auro dreta esq */
    width: 400px;
}

#box-3 {
    text-align: left;
    /* padding: 50px 200px; */
    margin: 30px 200px;
    line-height : 30px;
    text-align: justify;
}

ol {
    /* 1. Remove the default list style */  
    list-style: none;
  }
  
  ol > li {
    /* 2. Create a custom list counter */  
    counter-increment: listcounter;
  }
  
  ol > li::before {
    /*3. Set the new style for the list markers */
    content: counter(listcounter) ")";
    
  }

  ul {
    list-style: none;
  }
  
  /* ul li:before {
    content: '-';  
    padding-right: 5px;
  }

  tmb es pot fer  */
  ul {
    list-style-type: "-";
  }